$font-stack: Helvetica, sans-serif;

$base-font-size: 1em;
$base-margin: 20px;
$base-padding: 20px;
$header-height: 60px;

$color-black: #000;
$color-blue: #00f;
$color-border: #ccc;
$color-red: #f00;
$color-white: #fff;

$color1: #fff;
$color2: #ffede1;
$color3: #ff5206;
$color4: #b3d6ff;
$color5: #588ddb;
$color6: #2f3c63;
$color7: #000;
